body {
    background-image: url(images/background.jpg);
    margin: 4% 12%;
    font-family: 'Cantarell', sans-serif;
    font-weight: normal;
    color: #5fe06d;
}

.heading {
    width: auto;
    position: static;
    background-color: darkcyan;
    padding: 2px;
}

.main-content {
    background-color: darkslategray;
    position: relative;
    top: 10px;
    padding: 20px;
}


h1 {
    font-weight: bold;
    font-size: xx-large;
    font-style: normal;
    color: #ccaf30;
}

h2 {
    text-align: center;
    text-decoration: underline double wheat;
}

h3 {
    text-decoration: underline wavy wheat;
}

h4 {
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;
    color: #1fdf44;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}

dt {
    padding-left: 20px;;
}

iframe {
    position:relative;
}

#decor-link {
    cursor: pointer;
    color: white;
    background-color: #544953;
    border: red 1px transparent;
    text-decoration: snow underline;
}

a {
    color: #e4ca73;
}

a:hover {
    color: yellow;
    cursor: pointer;
}

#to-the-right {
    text-align: right;
}

#lekh {
    background: dimgray;
}