* {box-sizing: border-box;}

body {
    /* Source of the background image can be found here: https://unsplash.com/photos/FwNUSwJDZIQ . Author: Laney Smith; @laney1smith */
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em auto;
    font-family: .9em/1.1 'Cantarell', sans-serif;
    font-weight: normal;
    font-size: large;
    color: #5fe06d;
}

.navbar {
    /*  Source of the background image can be found here: https://fedoraproject.org/w/uploads/6/6d/F33_wallpaper_night.jpg . Credits to @teamfedora */
    background-image: url("https://fedoraproject.org/w/uploads/6/6d/F33_wallpaper_night.jpg");
    padding: 2px;
    min-height: 50px;
    list-style: none; 
    text-align: center;
}

#header {
    color: #fff;
    display: inline-flex; 
    position: relative; 
    padding: 20px 0;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}

#header:hover {
    color: #e4ca73;
}

.container {
    column-count: 2;
    background-color:darkslateblue;
    position: relative;
    top: 10px;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
    font-style: normal;
    color: #ccaf30;
}
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    font-style: normal;
    text-align: center;
    text-decoration: underline double wheat;
}
h3 {
    text-decoration: underline wavy wheat;
}
h4 {
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;
    color: #1fdf44;
}
h5 {
    text-align: left;
    color:honeydew;
}
p {
    text-align: center;
}


ul {
    list-style-type: square;
}

ol {
    letter-spacing: 2px;
    list-style-type: lower-roman;
}

iframe {
    position:relative;
}

#decor-link {
    color: white;
    background: transparent;
}

a {
    text-transform: uppercase;
    color: white;
}

a:hover {
    color: red;
    cursor: pointer;
}

#ending {
    text-align: right;
}

#lekh {
    background: transparent;
    color: #fff;
    text-decoration: snow underline;
}

/* This was such a pain to make because of so much links conflicting with this */
#foot_cred {
    text-decoration: none;
}

footer {
    text-align: center;
}


h2,.white{
    color: #fff;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 12px;
    color: #000;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: rgb(236, 234, 234);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #dfc534;
    text-decoration: underline;
}


/* Contact Form */
/* All credits to W3School */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */


  /* Resume Page */
  #hero::after {
    content: "";
    display: table;
    clear: both;
  }

  .hero-column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }

/* Web Skills Page */
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
  
.html5 {width: 85%; background-color: #4CAF50;}
.css3 {width: 75%; background-color: #2196F3;}
.js {width: 35%; background-color: #f44336;}
.wordpress {width: 55%; background-color: #808080;}