* {box-sizing: border-box;}

body {
    margin: 0em auto;
    font: 0.4em/1.1;
    font-family: 'Cantarell', sans-serif;
}

ul.breadcrumb {
    text-align: center;
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline-block;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 12px;
    color: #000;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    outline: 1px teal solid;
    border: 12px #eee solid;
    background-color: #eee;
    color: rgb(133, 133, 133);
    text-decoration: underline;
}
  
.logo {
    height: auto;
    width:50px;
}
  
section {
    display:flex;
}
  
.article {
    background-color: #eee;
    padding: 0 7px;
    flex: 3 200px;
}
  
.article:nth-of-type(2) {
    flex: 1 100px;
}

  /* Styling headers, paragraph and fonts */
h3 {
    background-color: #eee;
    border: 2px lightblue solid;
    text-align: center;
}

h2 {
    background-color: #eee;
    padding: 0 3%;
    border: 2px lightblue solid;
}

  
  /* Resume Page */
  #hero::after {
    content: "";
    display: table;
    clear: both;
  }

  .hero-column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }

/* Web Skills Page */
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
  
.html5 {width: 85%; background-color: #4CAF50;}
.css3 {width: 75%; background-color: #2196F3;}
.js {width: 35%; background-color: #f44336;}
.wordpress {width: 55%; background-color: #808080;}